body {
  padding-top: 50px;
  background-color: #353535;
}
.basic-template {
  padding: 40px 15px;
  text-align: center;
  color: white;
}
.navbar-inverse {
 background-color: #353535; 
}

@media(max-width: 1580px){ /* For desktop */
    h1 {
     font-size: 7vw;  
    }
    .media-heading {
     padding-top: 23px; /* Headers for github links pushed down to align with pictures*/
     color: white;
     font-size: 3vw;
    }

    .media-list {
     width: 60%; /* Position of github etc links */
     margin-left: auto;
     margin-right: auto;
    }
    h3 {
     color: white;
    }
    .about {
     text-align: left;
     color: #CCCCCC;
    }
    .text-link {
     color: white;
     text-decoration: underline;
    }
    .text-link:hover {
     color: #CCCCCC
    }
}
@media(max-width: 980px){ /* For mobiles */
    h1 {
     font-size: 12vw;  
    }
    .media-heading {
     padding-top: 23px; /* Headers for github links pushed down to align with pictures*/
     color: white;
     font-size: 4.5vw;
    }

    .media-list {
    width: 100%;
    }
    h3 {
     color: white;
    }
    .about {
     text-align: left;
     color: #CCCCCC;
    }
    .text-link {
     color: white;
     text-decoration: underline;
    }
    .text-link:hover {
     color: #CCCCCC
    }    
}